
@import "../../css/button.css";
@import "../../css/fonts.css";
@import "../../css/variable.css";
@import "../../css/fitler.css";


.div{
    background-color: #E9EDE8;
    width: 1252px; margin-top: 30px;
    height: 350px;
    border-radius: 2rem;
}
.knife{
    text-align: center;
    transform: translateY(38%);
    line-height: 1.8;
}
.knife__title{
font-weight: 800;
font-size: 48px;
color:var(--color-neutral-900);
}
.knife__p{
    font-size: 2rem;
color:var(--color-neutral-800);
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.knife__btn {
    transition: transform 0.3s ease linear; 
}
  
  .knife__btn:hover {
    color: var(--color-neutral-900);

  }
  .knife__btn:active{
    color: #fff;
    background: var(--color-neutral-900);
  }
  