@import "../../css/button.css";
@import "../../css/fonts.css";
@import "../../css/variable.css";
@import "../../css/fitler.css";



.ParentBox{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-between;
}
.box{
    max-width: 520px;
}
.box__title{
    font-size: 4.8rem;
    color: var(--color-neutral-900);
    font-weight: 800;
    margin-bottom: 2rem;
}
.box__p{
    margin-bottom: 2rem;
    font-size: 2rem;
    color:var(--color-neutral-800);
    font-weight: 700;
}
.box__p2{
    margin-bottom: 2rem;
    font-size: 2rem;
    color:var(--color-neutral-800);
    font-weight: 700;
}
.box__img{
    border-radius:2rem;
}