@import "../../css/button.css";
@import "../../css/fonts.css";
@import "../../css/variable.css";
@import "../../css/fitler.css";

.exits{
    display: flex;
    align-items: start;
    margin-left:4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    justify-content: space-between;
}
.why{
    margin-right: 150px;
}
.exits__info__item{
    display: flex;
    align-items: start;
    gap: 1rem;
}
.inf{
    max-width: 600px;
}
.exits__title h1{
    font-size: 4.5rem;
    color: var(--color-neutral-900);
}

.info__high{
    color: var(--color-neutral-900);
    font-size: 2rem;
}
.info__parag{
    color: var(--color-neutral-800);
    margin-bottom: 4rem;
}