.btn {
    border-radius: 1rem;
    border: var(--color-neutral-900);
    padding: 1.6rem 3.2rem;
    font-size: var(--fs-preset-5);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-900);
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--color-neutral-600);
  }
  .btn:active {
    outline: 2px solid var(--color-neutral-900);
    outline-offset: 2px;
    background-color: var(--color-neutral-900);
  }
  