:root {
  /* Base font size setup: 62.5% = 10px = 1rem */
  font-size: 62.5%;

  /* Colors */
  /* Brand / Accent colors */
  --color-neutral-900: #163a34;
  --color-neutral-800: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-100: #f6f5f1;
  --color-neutral-0: #ffffff;

  /* Brand Colors */
  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;

  /* Typography - Font Families */
  --font-primary: "Nunito Sans", sans-serif;

  /* Typography - Font Weights */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Typography - Font Sizes (1rem = 10px) */
  --fs-preset-1: 7.2rem; /* 72px */
  --fs-preset-1b: 6rem; /* 60px */
  --fs-preset-1c: 4.8rem; /* 48px */
  --fs-preset-2: 3.6rem; /* px */
  --fs-preset-3: 2.4rem; /* px */
  --fs-preset-4: 2rem; /* px */
  --fs-preset-5: 1.8rem; /* px */
  --fs-preset-6: 1.6rem; /* px */
  --fs-preset-7: 1.4rem; /* px */
  --fs-preset-8: 1.2rem; /* px */


  /* Typography - Line Heights */
  --lh-preset-1: 1.1;
  --lh-preset-1-tab: 1.1;
  --lh-preset-1-mob: 1.1;
  --lh-preset-2: 1.2;
  --lh-preset-2-mob: 1.2;
  --lh-preset-3: 1.3;
  --lh-preset-4: 1.3;
  --lh-preset-5: 1.4;
  --lh-preset-6: 1.5;
  --lh-preset-7: 1.5;
  --lh-preset-8: 1.5;
  --lh-preset-9: 1.5;
  --lh-preset-10: 1.5;
}
