@import "../../css/button.css";
@import "../../css/fonts.css";
@import "../../css/variable.css";
@import "../../css/fitler.css";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e0e6e3;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer__item_element {
  border-radius: 30px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-100);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer__item_element:hover {
  background: var(--color-neutral-200);
  transform: scale(1.05);
}

.footer__title {
  font-size: 2rem;
  color: var(--color-neutral-900);
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .footer__item {
    justify-content: center;
  }

  .footer__title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 1.5rem;
    gap: 1rem;
  }

  .footer__item {
    gap: 1rem;
  }

  .footer__title {
    font-size: 1.2rem;
  }

  .footer__item_element {
    width: 20px;
    height: 20px;
  }
}
